# FreeCodeCamp

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. Here is a sample of what the data looks like:

You must use Pandas to answer the following questions:

1.How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

2.What is the average age of men?

3.What is the percentage of people who have a Bachelor's degree?

4.What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

5.What percentage of people without advanced education make more than 50K?

6.What is the minimum number of hours a person works per week?

7.What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

8.What country has the highest percentage of people that earn >50K and what is that percentage?
Identify the most popular occupation for those who earn >50K in India.

In [1]:
import pandas as pd

In [2]:
data = {
    'age': [39, 50, 38, 53, 28],
    'workclass': ['State-gov', 'Self-emp-not-inc', 'Private', 'Private', 'Private'],
    'fnlwgt': [77516, 83311, 215646, 234721, 338409],
    'education': ['Bachelors', 'Bachelors', 'HS-grad', '11th', 'Bachelors'],
    'education-num': [13, 13, 9, 7, 13],
    'marital-status': ['Never-married', 'Married-civ-spouse', 'Divorced', 'Married-civ-spouse', 'Married-civ-spouse'],
    'occupation': ['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 'Handlers-cleaners', 'Prof-specialty'],
    'relationship': ['Not-in-family', 'Husband', 'Not-in-family', 'Husband', 'Wife'],
    'race': ['White', 'White', 'White', 'Black', 'Black'],
    'sex': ['Male', 'Male', 'Male', 'Male', 'Female'],
    'capital-gain': [2174, 0, 0, 0, 0],
    'capital-loss': [0, 0, 0, 0, 0],
    'hours-per-week': [40, 13, 40, 40, 40],
    'native-country': ['United-States', 'United-States', 'United-States', 'United-States', 'Cuba'],
    'salary': ['<=50K', '<=50K', '<=50K', '<=50K', '<=50K']
}
# Create DataFrame
df = pd.DataFrame(data)

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many people of each race are represented in this dataset?

In [4]:
race_count = df['race'].value_counts()
print(race_count)

White    3
Black    2
Name: race, dtype: int64

What is the average age of men?

In [5]:
average_age_men = df[df['sex'] == 'Male']['age'].mean()
print(average_age_men)

45.0

In [6]:
What is the percentage of people who have a Bachelor's degree?

Object `degree` not found.

In [7]:
bachelors_count = df[df['education'] == 'Bachelors'].shape[0]
total_count = df.shape[0]
percentage_bachelors = (bachelors_count / total_count) * 100
print(percentage_bachelors)

60.0

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [8]:
advanced_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_count = advanced_education.shape[0]
higher_education_rich = advanced_education[advanced_education['salary'] == '>50K'].shape[0]
percentage_higher_education_rich = (higher_education_rich / higher_education_count) * 100
print(percentage_higher_education_rich)

0.0

What percentage of people without advanced education make more than 50K?
python

In [9]:
non_advanced_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_count = non_advanced_education.shape[0]
lower_education_rich = non_advanced_education[non_advanced_education['salary'] == '>50K'].shape[0]
percentage_lower_education_rich = (lower_education_rich / lower_education_count) * 100
print(percentage_lower_education_rich)

0.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [10]:
# Filter the DataFrame for people with salary >50K
high_earning_df = df[df['salary'] == '>50K']

if not high_earning_df.empty:
    # If there are people with salary >50K, calculate the percentage for each country
    country_counts = high_earning_df['native-country'].value_counts()
    highest_earning_country = country_counts.idxmax()
    highest_earning_country_percentage = (country_counts.max() / high_earning_df.shape[0]) * 100
    print(highest_earning_country, highest_earning_country_percentage)
else:
    # If there are no people with salary >50K, print a message indicating so
    print("There are no individuals with salary >50K in the dataset.")

There are no individuals with salary >50K in the dataset.

Identify the most popular occupation for those who earn >50K in India.

In [11]:
# Filter the DataFrame for individuals from India with salary >50K
high_earning_indians_df = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

if not high_earning_indians_df.empty:
    # If there are high-earning individuals from India, find the most popular occupation
    top_occupation_india = high_earning_indians_df['occupation'].value_counts().idxmax()
    print(top_occupation_india)
else:
    # If there are no high-earning individuals from India, print a message indicating so
    print("There are no individuals from India with salary >50K in the dataset.")

There are no individuals from India with salary >50K in the dataset.